{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

<main class="container my-3">

  <div class="row registration">
    <header class="col-md-8 col-lg-6 mx-auto bg-sea text-center text-uppercase text-light py-2">
      <h1 class="h2 mb-0">Rejestracja</h1>
    </header>
    <div class="w-100"></div>
    <div class="col-md-8 col-lg-6 bg-light mx-auto py-3 text-center h4">
      <p>Sukces! Twoje konto jest teraz aktywne. Możesz się teraz <a href="/login">zalogować</a>.</p>
    </div>
  </div>
</main>

{% endblock %}
