{% extends "base.html" %}

{% block title %}MyBudget - Home{% endblock %}

{% block body %}

{% if current_user %}

<main class="container my-3">
  <div class="row baner justify-content-center no-gutters">
    <div class="col-lg-6 mt-3 px-3">
      <p class="text-uppercase h2">Witaj {{ current_user.name }}!</p>

      <p class="my-4 px-3 px-sm-5 slogan">Aplikacja <strong>MyBudget</strong> pomoże Ci kontolować swoje finanse. Co chcesz teraz zrobić?</p>

      <ul class="navbar-nav mr-auto mb-3">


        <li class="nav-item">
          <a class="nav-link btn btn-success mr-md-1 my-1 font-weight-bold" href="/profile/addIncome"><i class="fas fa-wallet"></i> Dodaj Przychód </a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-danger mr-md-1 my-1 font-weight-bold" href="/profile/addExpense"><i class="fas fa-shopping-basket"></i> Dodaj Wydatek </a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-info mr-md-1 my-1 font-weight-bold" href="#"><i class="fas fa-balance-scale"></i> Przeglądaj Bilans </a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled btn btn-dark mr-md-1 my-1 font-weight-bold" href="#"><i class="fas fa-cogs"></i> Ustawenia </a>
        </li>
        <li class="nav-item">
          <a href="/login/destroy" class="nav-link btn btn-dark mr-md-1 my-1 font-weight-bold" role="button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj się
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 align-self-end">
      <img class="img-fluid" src="../img/wallet-2292428_1920.jpg" alt="">
    </div>
  </div>
</main>

{% else %}

<main class="container my-3">
  <div class="row baner justify-content-center no-gutters">
    <div class="col-lg-6 mt-3 px-3">
      <p class="text-uppercase h2">Kontroluj wydatki!</p>
      <p class="text-uppercase h2 text-right">Buduj oszczędności!</p>

      <p class="my-4 px-3 px-sm-5 slogan">Zapanuj nad swoimi pieniędzmi dzięki aplikacji <strong>MyBudget</strong>! <a href="/register" class="text-info font-weight-bold">Zarejestruj się</a> teraz i już od dziś zacznij spełniać swoje marzenia oraz ciesz się życiem wolnym od kłopotów finansowych!</p>

      <blockquote class="blockquote text-center display-4">
        <p class="mb-0 cite px-3 mt-5">„Zrobić budżet to wskazać swoim pieniądzom, dokąd mają iść, zamiast się zastanawiać, gdzie się rozeszły.”</p>
        <footer class="blockquote-footer text-right pb-2">John C. Maxwell </footer>
      </blockquote>

    </div>
    <div class="col-lg-6 align-self-end">
      <img class="img-fluid" src="img/wallet-2292428_1920.jpg" alt="">
    </div>
  </div>
</main>

{% endif %}

{% endblock %}
