<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>

  <meta name="description" content="Aplikacja do prowadzenia budżetu osobistego">
  <meta name="keywords" content="budżet, finanse, osobiste, pieniądze, oszczędności">
  <meta name="author" content="Oktawian Rękawek">
  <meta http-equiv="X-Ua-Compatible" content="IE=edge">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/style.css">


</head>

<body>

  {% if current_user %}

  <header class="container-fluid bg-sea text-light">
    <nav class="container navbar navbar-dark navbar-expand-xl">
      <a href="/" class="navbar-brand mr-auto"><i class="fas fa-search-dollar mr-1"></i> MyBudget</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainmenu">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Start </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile/addIncome"><i class="fas fa-wallet"></i> Dodaj Przychód </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile/addExpense"><i class="fas fa-shopping-basket"></i> Dodaj Wydatek </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile/showBalance"><i class="fas fa-balance-scale"></i> Przeglądaj Bilans </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile/settings"><i class="fas fa-cogs"></i> Ustawenia </a>
          </li>

        </ul>

        <a href="/login/destroy" class="btn btn-dark mr-md-1 my-1 font-weight-bold" role="button">
          <i class="fas fa-sign-out-alt"></i> Wyloguj się
        </a>

      </div>

    </nav>
  </header>

  {% else %}

  <header class="container-fluid bg-sea text-light">
    <nav class="container navbar navbar-dark">
      <a href="/" class="navbar-brand mr-auto"><i class="fas fa-search-dollar mr-1"></i> MyBudget</a>
      <a href="/login" class="btn btn-dark mr-md-1 my-1 font-weight-bold" role="button">
        <i class="fas fa-sign-in-alt mr-1"></i> Zaloguj się
      </a>
      <a href="/register" class="btn btn-info my-1 font-weight-bold" role="button"> <i class="fas fa-user-plus mr-1"></i> Zarejestruj się
      </a>

    </nav>
  </header>

  {% endif %}

  {% block body %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% block script %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

</body>



</html>
