{% extends "base.html" %}

{% block title %}MyBudget - Dodaj przychód{% endblock %}

{% block body %}

<main class="container my-3">
  <div class="row justify-content-center balance">
    <header class="col-md-8 col-lg-6 mx-auto bg-sea text-center text-uppercase text-light py-2">
      <h1 class="h2 mb-0">Przegląd Bilansu</h1>
    </header>
    <div class="w-100"></div>
    <div class="col-md-8 col-lg-6 bg-light mx-auto py-3 text-center">
      <form method="post">
        <div class="form-group row justify-content-center">
          <label for="period" class="col-sm-3 col-form-label">Okres</label>
          <div class="col-sm-8">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list"></i></span></div>
              <select name="period" id="period" class="form-control" onchange="submit(this);">
                {% for period in periods %}
                {% if period is same as currPeriod %}
                <option selected>{{ period }}</option>
                {% else %}
                <option>{{ period }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% if currPeriod == "Niestandardowy" %}
        <div class="form-group row justify-content-center">
          <label for="date1" class="col-sm-1 col-form-label">Od</label>
          <div class="col-xl-5">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-calendar"></i></span></div>
              <input type="date" class="form-control" id="date1" name="date1" value="{{date1}}">
            </div>
          </div>
          <label for="date2" class="col-sm-1 col-form-label">Do</label>
          <div class="col-xl-5">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-calendar"></i></span></div>
              <input type="date" class="form-control" id="date2" name="date2" value="{{date2}}">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-info btn-lg font-weight-bold">Wyszukaj</button>
        {% else %}
        <h3 class="text-center">{{date1}} - {{date2}}</h3>
        {% endif %}
      </form>

    </div>
    <div class="w-100 my-2"></div>
    <div class="col-md-5 bg-light mx-1 incomes">
      <h2 class="text-center py-2">Przychody</h2>
      <div class="row px-4">
        <div class="col-6 border-bottom mb-3">
          <h4>Kategoria</h4>
        </div>
        <div class="col-6 text-right border-bottom mb-3">
          <h4>Wartość [PLN]</h4>

        </div>
        {% for income in incomes %}
        <div class='col-6'>
          <p>
            {{income.name}}
          </p>
        </div>
        <div class='col-6 text-right'>
          <p>{{(income.amountSum)|number_format(2, '.', ',')}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-5 bg-light mx-1 expanses order-2 order-md-1">
      <h2 class="text-center py-2">Wydatki</h2>
      <div class="row px-4">
        <div class="col-6 border-bottom mb-3">
          <h4>Kategoria</h4>
        </div>
        <div class="col-6 text-right border-bottom mb-3">
          <h4>Wartość [PLN]</h4>

        </div>
        {% for expense in expenses %}
        <div class='col-6'>
          <p>
            {{expense.name}}
          </p>
        </div>
        <div class='col-6 text-right'>
          <p>{{expense.amountSum|number_format(2, '.', ',')}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-5 bg-light m-1 incomes-sum order-1 order-md-2 border-top">
      <div class="row">
        <div class="col-6">
          <h3>Suma:</h3>
        </div>
        <div class="col-6 text-right">
          <h3>
            {{incomesSum|number_format(2, '.', ',')}}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-5 bg-light m-1 expanses-sum order-3">
      <div class="row">
        <div class="col-6">
          <h3>Suma:</h3>
        </div>
        <div class="col-6 text-right">
          <h3>
            {{expensesSum|number_format(2, '.', ',')}}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-8 bg-light order-4 text-center my-3 py-3">
      <h3>Bilans: {{balance}} PLN</h3>
      {% if balance > 0 %}
      <p class="h4 text-success">Gratulacje! Świetnie zarządzasz finansami!</p>
      {% else %}
      <p class="h4 text-danger">Uważaj! Twoje finanse mają się kiepsko!</p>
      {% endif %}
    </div>
    <div class="col-md-6 bg-light incomes-graph order-5">
      <img src="../img/Pie-chart.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 bg-light expanses-graph order-6">
      <img src="../img/Pie-chart.jpg" alt="" class="img-fluid">
    </div>
  </div>
</main>

{% endblock %}
