{% extends "base.html" %}

{% block title %}MyBudget - Dodaj przychód{% endblock %}

{% block body %}

<main class="container my-3">

  {% if success %}
  <div class="row addIncome">
    <div class="col-md-8 col-lg-6 mx-auto bg-success text-center text-uppercase text-light py-2 mb-1">
      <h2 class="h2 mb-0">{{success}}</h2>
    </div>
  </div>
  {% elseif error %}
  <div class="row addIncome">
    <div class="col-md-8 col-lg-6 mx-auto bg-danger text-center text-uppercase text-light py-2 mb-1">
      <h2 class="h2 mb-0">{{error}}</h2>
    </div>
  </div>
  {% endif %}
  <div class="row addIncome">
    <header class="col-md-8 col-lg-6 mx-auto bg-sea text-center text-uppercase text-light py-2">
      <h1 class="h2 mb-0">Dodaj przychód</h1>
    </header>
    <div class="w-100"></div>
    <div class="col-md-8 col-lg-6 bg-light mx-auto py-3 text-center">
      <form method="post" action="/profile/createIncome">
        <div class="form-group row justify-content-center">
          <label for="amount" class="col-sm-3 col-form-label">Kwota</label>
          <div class="col-sm-8">
            {% if error %}
            <div class="input-group err-amount">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-dollar-sign"></i></span></div>
              <input type="text" class="form-control" id="amount" name="amount" value={{currAmount}}>
            </div>
            {% else %}
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-dollar-sign"></i></span></div>
              <input type="text" class="form-control" id="amount" name="amount">
            </div>
            {% endif %}
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="date" class="col-sm-3 col-form-label">Data</label>
          <div class="col-sm-8">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-calendar"></i></span></div>
              <input type="date" class="form-control" id="date" name="date" value="{{currentDate}}" max="{{currentDate}}">
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="category" class="col-sm-3 col-form-label">Kategoria</label>
          <div class="col-sm-8">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list"></i></span></div>
              <select name="category" id="category" class="form-control">
                {% for category in categories %}
                {% if category.name is same as currCategory %}
                <option selected>{{ category.name }}</option>
                {% else %}
                <option>{{ category.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="comment" class="col-sm-3 col-form-label">Komentarz</label>
          <div class="col-sm-8">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-comment"></i></span></div>
              <textarea class="form-control" id="comment" name="comment">{{currComment}}</textarea>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-info btn-lg font-weight-bold">Dodaj</button>
        <button type="reset" class="btn btn-danger btn-lg font-weight-bold ml-3">Anuluj</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
