{% extends "base.html" %}

{% block title %}MyBudget - Ustawienia{% endblock %}

{% block body %}

<main class="container my-3">
  <div class="row settings">
    <header class="col-md-8 col-lg-6 mx-auto bg-sea text-center text-uppercase text-light py-2">
      <h1 class="h2 mb-0">Ustawienia</h1>
    </header>
    <div class="w-100"></div>
    <div class="col-md-8 col-lg-6 bg-light mx-auto py-3 text-center">
      <div class="col-sm-12 mb-3">
        <button type="button" class="btn btn-block btn-info btn-lg font-weight-bold" id="incomes-category-toggle">Kategorie przychodów</button>
        <div id="incomes-categories" class="rounded-bottom categories-list row mx-auto">
        </div>
      </div>
      <div class="col-sm-12 my-3">
        <button type="button" class="btn btn-block btn-info btn-lg font-weight-bold" id="expenses-category-toggle">Kategorie wydatków</button>
        <div id="expenses-categories" class="rounded-bottom categories-list row mx-auto"></div>
      </div>
      <div class="col-sm-12 my-3">
        <button type="button" class="btn btn-block btn-info btn-lg font-weight-bold">Metody płatności</button>
      </div>
      <div class="col-sm-12 mt-3">
        <button type="button" class="btn btn-block btn-info btn-lg font-weight-bold">Użytkownik</button>
      </div>
    </div>
  </div>
</main>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row justify-content-center">
            <label for="name" class="col-sm-3 col-form-label">Nazwa</label>
            <div class="col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list"></i></span></div>
                <input type="text" class="form-control" id="categoryName" name="name">
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <label for="amount" class="col-sm-3 col-form-label">Kwota</label>
            <div class="col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-dollar-sign"></i></span></div>
                <input type="text" class="form-control" id="limitAmount" name="amount" disabled="disabled">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="limitCheck">
                <label class="form-check-label" for="limitCheck"></label>
              </div>
            </div>
          </div>
          <input type="text" id="categoryId" hidden>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveSettings">Zapisz</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block script%}
<script src="/js/settings.js"></script>
{% endblock %}
