{% extends "base.html" %}

{% block title %}MyBudget - Ustawienia{% endblock %}

{% block body %}

<main class="container my-3">
  <div class="row settings">
    <header class="col-md-8 col-lg-6 mx-auto bg-sea text-center text-uppercase text-light py-2">
      <h1 class="h2 mb-0">Ustawienia</h1>
    </header>
    <div class="w-100"></div>
    <div class="col-md-8 col-lg-6 bg-light mx-auto py-3 text-center">
      <div class="col-sm-12 mb-3">
        <button type="button" class="btn btn-block btn-info btn-lg font-weight-bold categories-toggle" id="incomes-category-toggle">Kategorie przychodów</button>
        <div id="incomes-categories" class="rounded-bottom categories-list row mx-auto">
        </div>
      </div>
      <div class="col-sm-12 my-3">
        <button type="button" class="btn btn-block btn-info btn-lg font-weight-bold categories-toggle" id="expenses-category-toggle">Kategorie wydatków</button>
        <div id="expenses-categories" class="rounded-bottom categories-list row mx-auto"></div>
      </div>
      <div class="col-sm-12 my-3">
        <button type="button" class="btn btn-block btn-info btn-lg font-weight-bold categories-toggle" id="payment-category-toggle">Metody płatności</button>
        <div id="payment-categories" class="rounded-bottom categories-list row mx-auto"></div>
      </div>
      <div class="col-sm-12 mt-3">
        <button type="button" class="btn btn-block btn-info btn-lg font-weight-bold" id="user-settings-toggle">Użytkownik</button>
        <div id="user-settings" class="rounded-bottom row mx-auto">
          <div class="row"><p class="col-sm-4 m-2">Login: </p><p class="col-sm-4 m-2" id="login">{{ current_user.name }}</p></div>
          <div class="row"><p class="col-sm-4 m-2">E-mail: </p><p class="col-sm-4 m-2" id="email">{{ current_user.email }}</p></div>
          <button type="button" class="btn btn-primary row mx-auto col-sm-12 my-1 rounded justify-content-between" id="userEdit">Edytuj dane</button>
          <button type="button" class="btn btn-primary row mx-auto col-sm-12 my-1 rounded justify-content-between" id="changePassword">Zmień hasło</button>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="form-group row justify-content-center">
            <label for="name" class="col-sm-3 col-form-label">Nazwa</label>
            <div class="col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list"></i></span></div>
                <input type="text" class="form-control" id="categoryName" name="name">
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center category-amount" id="category-amount">
            <label for="amount" class="col-sm-3 col-form-label">Kwota</label>
            <div class="col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-dollar-sign"></i></span></div>
                <input type="number" step="0.01" min="0.00" class="form-control" id="limitAmount" name="amount" disabled="disabled">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="limitCheck">
                <label id="form-check-label" class="form-check-label" for="limitCheck"></label>
              </div>
            </div>
          </div>
          <input type="text" id="categoryId" hidden>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="deleteCategory">Usuń kategorię</button>
        <button type="button" class="btn btn-primary" id="saveSettings">Zapisz</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="userSettingsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="err-message" class="col-md-8 col-lg-6 mx-auto py-3 text-center text-danger"></div>
        <form>
          <div class="form-group row justify-content-center hidden" id="login-form">
            <label for="name" class="col-sm-3 col-form-label">Login</label>
            <div class="col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list"></i></span></div>
                <input type="text" class="form-control" id="login-input" name="name">
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center hidden" id="email-form">
            <label for="email" class="col-sm-3 col-form-label">E-mail</label>
            <div class="col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list"></i></span></div>
                <input type="text" class="form-control" id="email-input" name="email">
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center hidden" id="password-form">
            <label for="pass" class="col-sm-3 col-form-label">Hasło</label>
            <div class="col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list"></i></span></div>
                <input type="password" class="form-control" id="password-input" name="pass">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveUserSettings">Zapisz</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block script%}
<script src="/js/settings.js"></script>
{% endblock %}
