{% extends "base.html" %}

{% block title %}MyBudget{% endblock %}

{% block body %}

<main class="container my-3">
  <div class="row baner justify-content-center no-gutters">
    <div class="col-lg-6 mt-3 px-3">
      <p class="text-uppercase h2">Witaj {{ user.name }}!</p>

      <p class="my-4 px-3 px-sm-5 slogan">Aplikacja <strong>MyBudget</strong> pomoże Ci kontolować swoje finanse. Co chcesz teraz zrobić?</p>

      <ul class="navbar-nav mr-auto mb-3">


        <li class="nav-item">
          <a class="nav-link btn btn-success mr-md-1 my-1 font-weight-bold" href="addIncome.php"><i class="fas fa-wallet"></i> Dodaj Przychód </a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-danger mr-md-1 my-1 font-weight-bold" href="addExpense.php"><i class="fas fa-shopping-basket"></i> Dodaj Wydatek </a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-info mr-md-1 my-1 font-weight-bold" href="balance.php"><i class="fas fa-balance-scale"></i> Przeglądaj Bilans </a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled btn btn-dark mr-md-1 my-1 font-weight-bold" href="#"><i class="fas fa-cogs"></i> Ustawenia </a>
        </li>
        <li class="nav-item">
          <a href="../index.php" class="nav-link btn btn-dark mr-md-1 my-1 font-weight-bold" role="button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj się
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 align-self-end">
      <img class="img-fluid" src="../img/wallet-2292428_1920.jpg" alt="">
    </div>
  </div>
</main>

{% endblock %}
